@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default to light mode colors */
  color-scheme: light;
}

.dark {
  /* Set dark mode colors when .dark class is present */
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

body {
  /* Light theme defaults */
  @apply text-neutral-800 antialiased font-inter bg-white;
}

.dark body {
  /* Dark theme overrides */
  @apply text-neutral-200 bg-neutral-950;
}